# Java / Maven
**/target/
**/*.class
**/*.log
**/*.jar
**/*.war

# Spring / runtime
**/logs/
**/out/

# Secrets / local env
.env
**/*.env
**/application-local.yml
**/application-local.yaml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Node (si luego se usa)
node_modules/
dist/
